<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Patrick || wide</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="shortcut icon" type="image/x-icon" href="static/img/favicons/favicon.png">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link rel="stylesheet" crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
  <link href="static/css/theme.css" rel="stylesheet" />

  <link href="static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top" style="padding: 15px;">

    <nav class="navbar navbar-light sticky-top" data-navbar-darken-on-scroll="900">
      <div class="container pt-3">
        <a class="navbar-brand" href="/">
          <img src="static/img/gallery/my-logo.png" alt="..." />
        </a>
        <div class="navbar-nav ms-auto">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Contact Me
          </button>
        </div>
      </div>
    </nav>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="mt-6">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9 col-lg-8 col-xl-5">
            <h1 class="display-3 lh-sm">Landing Template for Startups</h1>
          </div>
          <div class="col-md-9 col-xl-5">
            <p class="fs-2">Our landing page template works on all devices, and browsers, so you only have to set it up
              once, and get beautiful results forever.</p>
            <button class="btn btn-primary mt-3">Pricing and Plans</button>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>

    <section>


      <div class="container">

        <div class="text-center mb-7">
          <h1 class="display-6 fw-semi-bold">About Us</h1>
        </div>

        <div class="px-xl-8 px-md-7">
          <hr class="mb-7 text-1000" />
        </div>

        <div class="mx-md-5 px-md-7 justify-content-evenly">

          <ul>

            <li class="fs-2 ls-2">Hey! my name is patrick, I am a self tought web and app developer.</li>
            <br>

            <ul>
              <b>Web development.</b>
              <li>Frontend : React js.</li>
              <li>Backend : python ( firebase, Django, Flask, Express Apis ).</li>
            </ul><br>

            <ul>
              <b>App development.</b>
              <li>Frontend : Flutter.</li>
              <li>Backend : python ( firebase, Django, Flask, Express Apis ).</li>
            </ul><br>

            <li class="fs-2 ls-2">I have more than 2 years of expirence in web development and an year in app
              development.</li><br>
            <li class="fs-2 ls-2">I am a committed individual who is highly efficient and has excellenet organizational
              skills to develop applications.</li><br>
            <li class="fs-2 ls-2">I help throughout the life cycle of an assigned project with my experience and ensure
              quality solutions that meet objectives.</li><br>
            <li class="fs-2 ls-2">With all that being said,I am very proud of the work i do, and will stop at nothing to
              make sure the job is done to 100% satisfaction.</li><br>

          </ul>

        </div>

        <div class="px-xl-8 px-md-7">
          <hr class="mt-7 text-1000" />
        </div>

      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close bg-primary rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Name</label>
                <input class="form-control mb-2" style="background-color: transparent;border-color: #1E294E !important;" type="text"
                name="" placeholder="Name">
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>Email</label>
                <input class="form-control mb-2" style="background-color: transparent;border-color: #1E294E !important;" type="email"
                name="" placeholder="Email">
              </div>
            </div>
            <label>Massage</label>
            <textarea class="form-control" style="background-color: transparent;border-color: #1E294E !important;" name=""
              placeholder="Massage"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- <section> close ============================-->
    <!-- ============================================-->
    
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>


      <div class="container">

        <div class="text-center mb-7">
          <h1 class="display-6 fw-semi-bold">My advantage</h1>
        </div>


        <!-- start -->
        <div class="row mx-md-5 px-md-5 d-flex ">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3">
                <img class="border rounded-1 border-900" src="static\img\advantages\html&css.jpg" alt="Google"
                  style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0 ">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\javascript.png"
                  alt="Slack" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\nodejs.png"
                  alt="Google" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\Redux.jpg"
                  alt="Slack" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- end -->


          <!-- start -->
          <!-- <div class="row mx-md-5 px-md-5 d-flex justify-content-evenly"> -->

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\python.jpg"
                  alt="Google" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\django.jpg"
                  alt="Slack" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\git.jpg" alt="Google"
                  style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\react-js.jpg"
                  alt="Google" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\docker.jpg"
                  alt="Google" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\database.jpg"
                  alt="Google" style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items m-1">
              <div class="p-3"><img class="border rounded-1 border-900" src="static\img\advantages\eye.png" alt="Google"
                  style="height:100%;width:100%" />
                <h3 class="pt-3 lh-base">Dashboard</h3>
                <p class="mb-0">A pseudo-Latin text used in web design.</p>
                <div class=" d-flex justify-content-end">
                  <p class="mb-0 badge bg-secondary">Frontend</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end -->


      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>


      <div class="container">

        <div class="text-center mb-7">
          <h1 class="display-6 fw-semi-bold">My Latest Projects</h1>
        </div>


        <div class="container">

          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 order-md-1"><img class="w-100" src="static/img/gallery/comment1.png"
                alt="..." />
            </div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Website</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Our landing page.</p>
              <a href="#" class="btn btn-primary btn-sm">View Github</a>
            </div>
          </div>
          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 false"><img class="w-100" src="static/img/gallery/comment2.png" alt="..." />
            </div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Flutter app</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Our landing page.</p>
              <a href="#" class="btn btn-primary btn-sm">View Github</a>
            </div>
          </div>
          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 order-md-1"><img class="w-100" src="static/img/gallery/comment3.png"
                alt="..." />
            </div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Python script</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Our landing page</p>
              <a href="#" class="btn btn-primary btn-sm">View Github</a>

            </div>
          </div>
        </div>
        <!-- end of .container-->



      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>

      <div class="container">

        <div class="text-center">
          <p class="fs-2 ls-2">SAFLOW</p>
          <h1 class="display-6 fw-semi-bold">Pricing</h1>
        </div>

        <div class="row flex-center">
          <div class="col-sm-9 col-md-4 mt-3">
            <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-md-9">
              <p class="fs-2 ls-2">FREE</p>
              <h1 class="display-4 ls-3"><span class="text-600">$</span>0</h1>
              <hr class="hr mt-6 text-1000" />
              <ul class="mt-5 ps-0">
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>7,000,000+ Events</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>4 Custom Domains</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dedicated Support </li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>12 Months History</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1 Dedicated SSL</li>
              </ul>
              <button class="btn btn-gray mt-4">Get Started <span class="fas fa-arrow-right"></span></button>
            </div>
          </div>
          <div class="col-sm-9 col-md-4 mt-3">
            <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-0">
              <p class="fs-2 ls-2">BASIC</p>
              <h1 class="display-4 ls-3"><span class="text-600">$</span>23</h1>
              <hr class="hr mt-6 text-1000" />
              <ul class="mt-5 ps-0">
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>7,000,000+ Events</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>4 Custom Domains</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dedicated Support </li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>12 Months History</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1 Dedicated SSL</li>
              </ul>
              <button class="btn btn-gray mt-4">Get Started <span class="fas fa-arrow-right"></span></button>
            </div>
          </div>
          <div class="col-sm-9 col-md-4 mt-3">
            <div class="py-5 px-4 px-md-3 px-lg-4 rounded-1 bg-800 plans-cards mt-md-9">
              <p class="fs-2 ls-2">PREMIUM</p>
              <h1 class="display-4 ls-3"><span class="text-600">$</span>59</h1>
              <hr class="hr mt-6 text-1000" />
              <ul class="mt-5 ps-0">
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>7,000,000+ Events</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>4 Custom Domains</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>Dedicated Support </li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>12 Months History</li>
                <li class="pricing-lists"><i class="fas fa-check-circle fa-lg me-2 text-600"></i>1 Dedicated SSL</li>
              </ul>
              <button class="btn btn-gray mt-4">Get Started <span class="fas fa-arrow-right"></span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="mt-5">
    
      <div class="container">
        <div class="text-center">
          <div class="p-5 bg-primary rounded-3">
            <div class="py-3">
              <h4 class="opacity-50 ls-2 lh-base fw-medium">READY TO START</h4>
              <h2 class="mt-3 fs-4 fs-sm-7 latter-sp-3 lh-base fw-semi-bold">Start Your Free Trail Today </h2>
            </div>
            <div class="flex-center d-flex">
              <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Contact Me
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->
    
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>


      <div class="container">

        <div class="text-center mb-7">
          <h3 class="pt-3 lh-base">
            <a href=""> @_patrickwide </a>
          </h3>
          <p class="fs-2 ls-2">Instragram</p>
        </div>


        <div class="row mx-md-5 px-md-5 d-flex justify-content-evenly">

          <div class="col-md-6 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items">
              <div class="p-5"><img class="img-fluid" src="static/img/gallery/dashboard.png" alt="Dashboard" />
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items">
              <div class="p-5"><img class="img-fluid" src="static/img/gallery/dashboard.png" alt="Dashboard" />
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items">
              <div class="p-5"><img class="img-fluid" src="static/img/gallery/dashboard.png" alt="Dashboard" />
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="border rounded-1 border-700 h-100 features-items">
              <div class="p-5"><img class="img-fluid" src="static/img/gallery/dashboard.png" alt="Dashboard" />
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



  </main>
  <footer>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-xl-3 text-center text-xl-start"><a href="#!"><img class="footer-img me-xl-5 me-3"
                src="static/img/gallery/facebook-line1.svg" alt="fb" style="width:20px;height:20px;" /></a><a
              href="#!"><img class="footer-img me-xl-5 me-3" src="static/img/gallery/linkedin-line1.svg" alt="in"
                style="width:20px;height:20px;" /></a><a href="#!"><img class="footer-img me-xl-5 me-3"
                src="static/img/gallery/twitter-line1.svg" alt="twitter" style="width:20px;height:20px;" /></a><a
              href="#!"><img class="footer-img me-xl-5 me-3" src="static/img/gallery/instagram-line1.svg"
                alt="instragram" style="width:20px;height:20px;" /></a>
          </div>
          <div class="col-xl-4 pt-2 pt-xl-0">
            <p class="mb-0 text-center text-xl-end">
              <a class="text-300 text-decoration-none footer-link" href="#!">www.patrickwide.heroku.com</a>
            </p>
          </div>
          <div class="col-xl-5 pt-2 pt-xl-0 text-center text-xl-end">
            <!-- <p class="mb-0">&copy; This WebsiteWas developed ❤️ By <b>@_patrickwide</b></p> -->
            <p class="mb-0">&copy; 2021 <b>patrickwide</b> ALL RIGHTS RESERVED ❤️</p>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

  </footer>

  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="static/vendors/@popperjs/popper.min.js"></script>
  <script src="static/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="static/vendors/is/is.min.js"></script>
  <script src="static/vendors/swiper/swiper-bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <script src="static/js/theme.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>